h1{
    color:red;
text-align: center;
}
h2{
    color: purple;
}
.column{
    height: 900px;
    width: 31%;
    display: inline-block;
    text-align: center;
    border: 1px solid black
}
main{
    display:flex
}
.photo{
    height:100px;
    width: 100px;
}
.photo{
    height: 100px;
    width: 100px;
}